[Unit]
Description=pigpio
After=multi-user.target

[Service]
User=happycave
Type=simple
ExecStart=/usr/bin/python3 /home/happycave/pigpioapi/pigpio.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
